<div class="card clearfix"  data-name="HFSCard" data-type="card">

    <h3>Husky Card &amp; Dining</h3>

    <div class="card-badge-container">



        <div class="card-badge clearfix">

            <div class="pull-left">
                <span class="card-badge-label">Student Husky Card</span>
            </div>
            <div class="pull-right">
                <span class="card-badge-value">$1.23</span>
            </div>

            <div class="card-badge-note">Last transaction: over 6 months ago</div>


        </div>





        <div class="card-badge clearfix">

            <div class="pull-left">
                <span class="card-badge-label">Employee Husky Card</span>
            </div>
            <div class="pull-right">
                <span class="card-badge-value">$1.00</span>
            </div>

            <div class="card-badge-note">Last transaction: over 7 months ago</div>


        </div>




        <div class="card-badge clearfix">

            <div class="pull-left">
                <span class="card-badge-label">Resident Dining</span>
            </div>
            <div class="pull-right">
                <span class="card-badge-value">$5.10</span>
            </div>

            <div class="card-badge-note">Last transaction: over 6 months ago</div>


        </div>


        <div class="card-badge pull-right" style="margin:0; padding-bottom:0;">
            <div class="card-badge-action"><a href="https://www.hfs.washington.edu/olco">Add funds to your accounts</a></div>
        </div>

    </div>

</div>