
<div class="card clearfix"  data-name="LibraryCard" data-type="card">

    <h3>Library Account</h3>


    <div class="card-noncritical-alert" role="status">
        <i class="fa fa-info-circle"><span class="sr-only">You have items ready!</span></i> <a href="http://alliance-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/myAccountMenu.do?activity=requests">1 requested item ready</a>
    </div>


    <div class="card-badge-container">


        <div class="card-badge clearfix">
            <div class="pull-left">
                <span class="card-badge-label">Items out</span>

            </div>
            <div class="pull-right">
                <span class="card-badge-value">1 item</span>
                <span class="card-badge-action pull-right"><a href="http://alliance-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlBasketGet.do?vid=UW&redirectTo=myAccount">See account</a></span>
            </div>

        </div>



        <div class="card-badge clearfix">
            <div class="pull-left">
                <span class="card-badge-label">Next item due</span>
            </div>
            <div class="pull-right">
                <span class="card-badge-value">Mon, May 26</span>
                <span class="card-badge-action pull-right">6 months ago</span>
            </div>
        </div>



    </div>



</div>
