<div class="card"  data-name="TuitionCard" data-type="card">


    <h3>Tuition &amp; Fees</h3>

    <div class="card-badge-container">
        <div class="card-badge clearfix">
            <div class="pull-left">
                <span class="card-badge-label">You owe</span>
            </div>
            <div class="pull-right">
                <span class="card-badge-value text-danger">$12345.00</span>
                <span class="card-badge-action pull-right"><a href="http://f2.washington.edu/fm/sfs/tuition/payment">Make payment</a></span>

            </div>
        </div>

        <div class="card-badge clearfix">
            <div class="pull-left">
                <span class="card-badge-label">Tuition due </span>
            </div>
            <div class="pull-right">
                <span class="card-badge-value"> Thu, Jan 91</span>
                <span class="card-badge-action pull-right">RIGHT FRIGGING NOW!!</span>
            </div>
        </div>

    </div>
\


    <div class="card-related-messages">
        <p><a href="https://sdb.admin.washington.edu/sisStudents/uwnetid/release.aspx">Give access to your tuition account and financial aid information</a> to parents or other third parties.</p>


    </div>

</div>


